<!-- /templates/customers/login.liquid -->

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card_body p-10 w-[400px]">
        {% form 'customer_login' %}
          {{ form.errors | default_errors }}
            <div class="form-control">
              <label class="label" for="customer_email">
                <span class="label-text">Email</span>
              </label>
              <input type="email" placeholder="email" name="customer[email]" class="input input-bordered" required />
            </div>
            <div class="form-control">
              <label class="label" for="customer_password">
                <span class="label-text" name="customer[password]">Password</span>
              </label>
              <input type="password" placeholder="password" class="input input-bordered" required />
              <label class="label">
                <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
              </label>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
        {% endform %}
      </div>

    </div>
  </div>
</div>